footer {
    z-index: 1;
    position: absolute;
    border: 3px;
    top: 100%;
    height: 14%;
    background-color: #d9edf7;
    width: 100%;

}

footer > h1 {
    position: relative;
    top: 35%;
    text-align: left;
    color: #122b40;
    font-size: 20px;
    font-family: "Monotype Corsiva";
}

footer > h4 {
    color: #122b40;
    position: absolute;
    top: 55%;
    right: 5%;

}

header > h1{
    position: relative;
    top: 50px;
    font-style: italic;
    color: blue;
    text-align: center;
}
body{
background-image: url("../recousrce/11.jpg");
}
body > h1 {
    font-size: 20px;
    position: relative;
    top: 5px;
    font-style: italic;
    text-shadow: 2px 2px 3px blue, 0 0 2em white;
    color: #122b40 ;
    text-align: center;
}
body > h2{
    font-family: Aharoni;
    position: absolute;
    left: 1%;
    top: 11%;
    font-size: 15px;

}
.modal {
    height: 100%;
    width: 80%;
}
.modal .modal-dialog{ margin: 0%; }

.news .thumbnail{
    z-index: 2;
    top: 40%;
    right: 1%;
    position: fixed;

}

.news-2 .thumbnail{
    z-index: 2;
    top: 70%;
    right: 1%;
    position: fixed;

}
.news-text{
    position: fixed;
    font-size: 20px;
    font-style: italic;
    text-shadow: 2px 2px 3px blue, 0 0 2em white;
    color: #122b40 ;
    top: 33%;
    right: 7%;

}

.no > h2{
    position: absolute;
    top: 15%;
    left: 5%;
    right: 5%;
    color: #122b40;
    font-size: 21px;
    font-family: "Monotype Corsiva";

}

.no > p{
    position: absolute;
    top: 34%;
    left: 5%;
    right: 5%;
    color: #122b40;
    font-size: 16px;
    font-family:Aharoni;

}
.no > video{
    position: absolute;
    top:52%;
    right: 40%;
}

.nt > h3{
    position: absolute;
    top: 13%;
    right: 33%;
    color:#ac2925;
    font-size: 30px;
    font-family:Arial;

}

.nt > h1{
    position: absolute;
    top: 21%;
    left: 5%;
    right: 5%;
    color: #122b40;
    font-size: 21px;
    font-family: "Monotype Corsiva";
}

.nt > p {
    position: absolute;
    top: 34%;
    left: 5%;
    right: 5%;
    color: #122b40;
    font-size: 16px;
    font-family:Aharoni;
}

.nt > img {
    position: absolute;
    top:57%;
    right: 15%;
    height: 40%;
    width: 70%;

}

.categ{
    position: fixed;
    top: 20%;
    left: 5%;
}

.info{
    position: absolute;
    left: 20%;
    right: 20%;
}

.info > h2{
    text-align: center;
}

.info > h1{
    color:#2b542c;
    font-size: 25px;
    font-family:Batang;
}

.info > li {
    font-size: 20px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.rus{
    position: absolute;
    top: 23%;
    right: 1%;
}

.eng{
    position: absolute;
    top: 23%;
    right: 4.5%;
}

.oao{
    position: absolute;
    top:20%;
    left: 5%;
}

.aut{
    top: 22%;
    right: 4%;
    position: absolute;
}

.verh > h4{
    position: absolute;
    font-size: 25px;
    font-style: italic;
    text-shadow: 2px 2px 3px blue, 0 0 2em white;
    color: #122b40 ;
    top: 16%;
    right: 47%;
}
.info1{
    position: absolute;
    top: 25%;
    right: 5%;
    left: 5%;
    font-size: 15px;
}

.nis > h2{
    position: absolute;
    font-size: 20px;
    font-style: italic;
    text-shadow: 2px 2px 3px yellow, 0 0 2em black;
    color: #122b40 ;
    top: 55%;
    right: 30%;
}

.info2{
    position: absolute;
    top: 65%;
    right: 5%;
    left: 5%;
    font-size: 15px;
}


.prod-text{
    top:20%;
    position: absolute;
}

.contact > h3{
    position: absolute;
    font-size: 25px;
    font-style: italic;
    text-shadow: 2px 2px 3px blue, 0 0 2em white;
    color: #122b40 ;
    top: 14%;
    right: 47%;
}

.cont-text{
    font-size: 25px;
    font-family: "Bodoni MT";
    top:25%;
    right: 20%;
    position: absolute;
}

.map1{
    top: 10%;
    left:3%;
    position: relative;
}

.otstup{
    margin-top:30px;
}

/* Fade Slider CSS */
.carousel .item {
    -webkit-transition: 0.7s ease-in-out opacity;
    -moz-transition: 0.7s ease-in-out opacity;
    -o-transition: 0.7s ease-in-out opacity;
    transition: 0.7s ease-in-out opacity;
    left: 0 !important;
}
.carousel .next.left,
.carousel .prev.right {
    opacity: 1;
    z-index: 1;
}
.carousel .active.left,
.carousel .active.right {
    opacity: 0;
    z-index: 2;
}
.carousel .carousel-control {
    z-index: 1000;
    outline:none;
}


